@import './mixins.scss';
$main-color: #386c9f;

html,
body,
ul,
h1 {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.header {
  background-color: #386c9f;
  color: #f5f5f5;
}

.header .title {
  padding: 1rem;
}

.blog {
  display: flex;
}
.blog .list {
  padding-right: 1rem;
}

.blog .list .title {
  max-width: 33vw;
 @include ellipsis();
  font-size: 1.6180339rem;
  line-height: 2.71828rem;
  padding-left: 1rem;
  border: 1px transparent;
  flex-shrink: 0;
  flex-basis: 33vw;
}

.blog .list .title:nth-of-type(2n) {
  background-color: #c7dcf7;
}

.blog .list .title:hover {
  background-color: #dbbc1f;
  color: #f5f5f5;
  cursor: pointer;
}

.blog .post {
  padding: 2rem;
  font-size: 1.6180339rem;
  flex-shrink: 1;
  flex-basis: 66vw;
}

.blog .post .author {
  border: 1px dotted #83a7eb;
  padding: 0 2rem;
  background-color: #e9f1f8;
}

.blog .post .comments .comment {
  border: 1px dotted;
  background-color: #e9f1f8;
  padding: 0 1rem 0 2rem;
  margin-bottom: 1rem;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(206, 162, 30, 0.2);
  border-right: 1.1em solid rgba(207, 207, 61, 0.2);
  border-bottom: 1.1em solid rgba(18, 47, 232, 0.2);
  border-left: 1.1em solid #38669f;
  transform: translateZ(0);
  animation: loading 1.1s infinite linear;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

